*~
\#*
*.o
*.cod
*.cof
*.hex
*.lst
*.map
*.o
*.zip
*.bin
avr_progmem*
*.err
intermediate/
bootloader-bin/
BootUpdater-bin/
picfirmware-bin/
java/pichextobin/bin/
java/pichextobin/build/
java/pichextobin/pichextobin.jar
not_in_git/
