*~
\#*
*.o
*.cod
*.cof
*.hex
*.lst
*.map
*.err
buildnumber.h
intermediate/
bootloader-bin/
BootUpdater-bin/
picfirmware-bin/
java/pichextobin/bin/
java/pichextobin/build/
java/pichextobin/pichextobin.jar
not_in_git/
